@media (min-width: 768px) {
  .home {
    padding: 50px 0 0 100px;
    width: 500px;
    position: relative;
  }
}

* {
  /* outline: 1px solid gray; */
}

@media (max-width: 767px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
  }
}

.main-home-title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: gray;
}

.home-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 55px 30px 0 30px;
}
.hooks-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: rgb(80, 80, 80);
}
.desc-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #a484ff;
}

.home-desc {
  display: flex;
  width: 90%;
  color: rgb(250, 240, 220);
  padding: 0 0 10px 30px;
  border-radius: 10px;
  /* background-color: rgb(180, 250, 120); */
  background-color: #a484ff;
  border: 2px solid black;
  margin: 50px 0;
  align-items: center;
  box-shadow: 4px 4px black;
  /* border: 1px solid gray; */
}

.home-desc-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}
.home-desc-head h2 {
  color: #fdf7f1;
}
.home-desc-head p {
  color: #242424;
}

.sannotes-maskot {
  width: 150px;
  height: 150px;
  /* border: 1px solid gray; */
}

.home-desc p {
  font-weight: 700;
  font-size: 0.7rem;
  text-align: start;
  /* border: 1px solid gray; */
}

.start-option {
  border-radius: 10px;
  background-color: #51b59f;
  padding: 20px 10px;
  border: 2px solid black;
  margin: 0 30px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.btn-cta {
  display: flex;
  gap: 20px;
}

.cta-head {
  display: flex;
  padding: 0 10px;
  align-items: center;
}
.cta-head-img {
  width: 80px;
}

.login-btn {
  background-color: #fef38e;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  /* color: rgb(0, 89, 37); */
  color: #000000;
  font-weight: 800;
  border: 2px solid black;
  box-shadow: 3px 3px black;
  text-decoration: none;
}
.login-btn:hover {
  box-shadow: 0 0 black;
  transform: translate(3px, 3px);
}
.register-btn {
  background-color: #9feb98;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  /* color: #fdf7f1; */
  color: black;
  font-weight: 800;
  border: 2px solid black;
  box-shadow: 3px 3px black;
  text-decoration: none;
}
.register-btn:hover {
  box-shadow: 0 0 black;
  transform: translate(3px, 3px);
}
